a {
  color: inherit;

  &:hover {
    color: $secondary-color;
  }
}

#main-content {
  padding: 50px;
}

#wrapper {
  background-color: $medium-gray;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}
