@import 'vars';
@import 'ArcIndex';
@import 'ArcNew';
@import 'ArcShow';
@import 'ArcTile';
@import 'ArcFilter';
@import 'BoardIndex';
@import 'BoardSidebar';
@import 'CharacterMenu';
@import 'EditCharacter';
@import 'home';
@import 'PostTile';
@import 'Quill';
@import 'TopBar';



html, body {
  background: #eee;
}

header {
}

a {
  color: inherit;

  &:hover {
    color: $primary-color;
  }
}

#main-content {
  padding: 50px;
}

#wrapper {
  background-color: $light-gray;
  height: 100%;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

@mixin util-button {
  background: transparent;
  padding: 3px 6px;
  font-size: 10px;
  margin-left: 8px;
  border: 1px solid $medium-gray;
  color: $medium-gray;
  border-radius: 2px;
  transition: opacity 0.1s ease-in-out;
  height: auto;
  width: auto;

  &:hover {
    border: 1px solid $light-gray;
    color: $light-gray;
  }
}

.util-button {
  @include util-button;
}

.util-button-dark {
  @include util-button;
  border: 1px solid $dark-gray;
  color: $dark-gray;

  &:hover {
    color: #222;
    border: 1px solid #222;

  }
}

.center {
  text-align: center;
}

.button-margin {
  margin-left: 10px;
  margin-right: 10px;
}

.full-height {
  height: 100% !important;
}

.hover-fade {
  transition: 0.2s all ease-in-out;
}

.browser-height {
  min-height: 100vh !important;
}

.align-right {
  text-align: right;
}
