.arc-tile {
  padding: 10px;
  font-size: 12px;

  h4 {
    margin:0;
    padding: 16px;
    line-height: 100%;
    vertical-align: middle;
  }
}

.arc-tile-container {
  margin: 0 0px 30px 0px;
  border: 1px solid rgba(0,0,0,0.1);
  border-left: 4px solid #263335;
  background-color: $light-gray;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}

.arc-details {
  border-top: 1px solid $medium-gray;
  padding: 5px 30px;
  color: $dark-gray;
  font-size: 12px;
}

.arc-posts {
  padding-left: 16px;
}

.active-arc {
  border-left: 4px solid $prime-blue !important;
}

.tag {
  margin-left: 6px;
}
