#board-sidebar {
  background: $light-gray;
  box-shadow: 0 1px 5px rgba(0,0,0,0.1);

  h2 {
    text-align: center;
    margin: 0;
    line-height: 100%;
  }

  h6 {
    text-align: center;
    margin: 10px 0;
    color: $dark-gray;
    font-style: italic;
  }

  hr {
    width: 50%;
  }
}

#board-image {
  height: 200px;
  box-shadow: inset 0 0 20px rgba(0,0,0,0.5);
}

.sidebar-content {
  padding: 20px;
  @include breakpoint(xlarge) {
    padding: 20px 60px;
  }

  .util-button {
    border-color: $dark-gray;
    position: absolute;

    &:hover {
      color: black;
      border-color: black;
    }
  }
}
