#character-menu {
  padding: 20px 50px;
  background-color: #444;
  color: $light-gray;

  h4 {
    margin: 0;
    line-height: 110%;
  }

  select {
    border-radius: 0px;
    border: none;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    margin: 0;
    background-color: #444;
    color: $light-gray;
    font-family: 'Sorts Mill Goudy';
    font-size: 20px;
  }
}

.char-menu-padding {
  padding: 0.5rem 0;
}
