.post-tile {
  border-top: 1px solid $dark-gray;
  // border-bottom: 1px solid $dark-gray;
  padding: 25px 0px;
}

.character-content {
  text-align: center;
}

.post-body {
  padding: 0 10px 0 20px;

  @include breakpoint(medium down) {
    padding: 20px 0;
  }
}

.subtitle {
  font-size: 14px;
  color: $dark-gray;
  font-family: $header-font-family;
  font-style: italic;
}
