<div id="billboard" >
  <div class="color-overlay">
    <div class="grid-x">
      <div class="cell large-12">
        <h1>Welcome to WriteLab!</h1>
        <%= link_to 'Log In', new_author_session_path, class: 'button' %>
        <%= link_to 'Sign Up', new_author_registration_path, class: 'button' %>
      </div>
    </div>
  </div>
</div>
<div id='app'>
</div>
